# 5.1 Print

In [1]:
print('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [5]:
print("Universitas Udayana")

Universitas Udayana

In [6]:
print("Matematika 2021")

Matematika 2021

In [7]:
print('Trisna_2108541036')

Trisna_2108541036

In [8]:
mahasiswa = 42
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

42
100000
4200000

In [9]:
mahasiswi = 21
uang_di_kantong = 150000
print(mahasiswi)
print(uang_di_kantong)
print(mahasiswi*uang_di_kantong)

21
150000
3150000

In [10]:
nama_depan = 'Kadek '
nama_belakang = 'Trisna'
print(nama_depan + nama_belakang)

Kadek Trisna

In [11]:
nama_depan = 'Ni '
nama_tengah = 'Kadek '
nama_belakang = "Trisnawati "
print(nama_depan + nama_tengah + nama_belakang)

Ni Kadek Trisnawati

In [13]:
prodi = "Matematika "
angkatan = '2021'
print(prodi + angkatan)

Matematika 2021

# 5.2 Input

In [14]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama + "? ")
print("Semangat "+ kegiatan +"nya yah, " + nama + "! ")

Siapakah nama anda? Trisna
Apakah kegiatan anda sekarang, Trisna? belajar
Semangat belajarnya yah, Trisna!

# 5.3 Tipe Data pada Python

In [15]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 5000
Berapakah jumlah uang anda di bank? 3000
Total uang anda adalah Rp 50003000

In [16]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet anda? 5000
Berapakah jumlah uang anda di Bank? 3000
Total uang anda adalah Rp 8000

In [17]:
type(uang_di_dompet)

str

In [18]:
type(uang_di_bank)

str

In [19]:
type(total_uang)

int

In [20]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 2
Jumlah kedua bilangan adalah 7.0

In [21]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_kedua = input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

Masukkan bilangan pertama: 57
Masukkan bilangan kedua: 32
Jumlah kedua bilangan adalah 89.0

# 5.4 Formatted String

In [22]:
nama = "Trisna"
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Trisna adalah seorang mahasiswa di Universitas Udayana.

In [23]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Trisna adalah seorang mahasiswa di Universitas Udayana.

In [24]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Trisna adalah seorang mahasiswa di Universitas Udayana.

# 5.5 Strings Index

In [25]:
kelas = 'Ini Kelas Algoritma'

In [26]:
print(kelas[0:3])

Ini

In [27]:
print(kelas[0:-1])

Ini Kelas Algoritm

In [28]:
print(kelas[5:-1])

elas Algoritm

In [29]:
print(kelas[2:-1:3])

ieslrm

In [30]:
print(kelas[:-3])

Ini Kelas Algori

In [31]:
print(kelas[1:])

ni Kelas Algoritma

In [32]:
print(kelas[:])

Ini Kelas Algoritma

In [33]:
nama = 'Kadek Trisna'

In [34]:
print(nama[0:2])

Ka

In [35]:
print(nama[0:5])

Kadek

In [36]:
print(nama[:-2])

Kadek Tris

In [37]:
print(nama[:])

Kadek Trisna

# 5.6 Strings Methods

In [1]:
judul = 'Bali Surga Dunia'

In [2]:
print(len(judul))

16

In [3]:
judul.upper()

'BALI SURGA DUNIA'

In [4]:
judul.lower()

'bali surga dunia'

In [5]:
judul.find('Surga')

5

In [6]:
judul.find('bali')

-1

In [7]:
judul.replace('Bali', 'Indonesia')

'Indonesia Surga Dunia'

In [8]:
judul.replace('bali', 'Indonesia')

'Bali Surga Dunia'

In [9]:
print('Bali' in judul)

True

In [10]:
print('bali' in judul)

False

# 5.7 Operasi Matematika di Python

In [11]:
print(5+2)

7

In [12]:
print(5-2)

3

In [13]:
print(2*9)

18

In [14]:
print(9/5)

1.8

In [15]:
print(9//5)

1

In [16]:
print(9%5)

4

In [17]:
print(6**9)

10077696

In [18]:
x=25
x+=5
print(x)

30

In [19]:
x-=15
print(x)

15

In [20]:
x*=10
print(x)

150

# 5.8 Operator Perbandingan di Python

In [23]:
x = 9>5
print(x)
x = 7<12
print(x)
x = 6 >= 3
print(x)
x = 5 <= 8
print(x)
x = 11 == 11
print(x)
x = 3 != 4
print(x)

True
True
True
True
True
True

In [22]:
x = 5>14
print(x)
x = 9<2
print(x)
x = 3 >= 5
print(x)
x = 8 <= 5
print(x)
x = 10 == 11
print(x)
x = 5 !=5
print(x)

False
False
False
False
False
False

# 5.9 Operator Logika di Python

In [24]:
buah_salak = 15
buah_pepaya = 20
print(buah_salak > 5 and buah_pepaya < 28)

True

In [25]:
print(buah_salak < 5 or buah_pepaya < 28)

True

In [27]:
print(buah_salak < 5 or buah_pepaya >28)

False

In [28]:
print(not (buah_salak < 5 or buah_pepaya > 28))

True

In [29]:
print(buah_salak <= 15 and buah_pepaya > 25)

False

# 5.10 Operator if di Python

In [30]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 85 and nilai >= 75:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 65 and nilai < 75:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik!")
if nilai >= 50 and nilai < 65:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan!")
if nilai <50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan!")

Nilai anda adalah 87
Anda mendapatkan nilai A
Bagus sekali, selamat!

# 5.11 While loop

In [31]:
a = 0
while a < 7:
    print("Angka " + str(a)+" masih dibawah 7")
    a +=1

Angka 0 masih dibawah 7
Angka 1 masih dibawah 7
Angka 2 masih dibawah 7
Angka 3 masih dibawah 7
Angka 4 masih dibawah 7
Angka 5 masih dibawah 7
Angka 6 masih dibawah 7

In [32]:
a = 0
while a < 7:
    print(a * '*')
    a += 1

*
**
***
****
*****
******

In [33]:
a = 0
while a < 6:
    print(a * '^ ')
    a += 1

^
^ ^
^ ^ ^
^ ^ ^ ^
^ ^ ^ ^ ^